# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

# TODO: https://yazi-rs.github.io/docs/plugins/overview/

[mgr]
show_hidden    = false
show_symlink   = true
scrolloff      = 5

[preview]
wrap            = "no"
max_width       = 800
max_height      = 1200

[opener]
edit = [
	{ run = '${EDITOR:-vi} "$@"', desc = "$EDITOR", block = true, for = "unix" },
]
open = [
  	{ run = 'qimgv "$1"', for = "unix", when = '''extension in ["jpeg", "png", "jpg"]''' },
	{ run = 'xdg-open "$1"',                desc = "Open", for = "linux" },
]
reveal = [
	{ run = 'xdg-open "$(dirname "$1")"',           desc = "Reveal", for = "linux" },
	{ run = '''exiftool "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show EXIF", for = "unix" },
]
extract = [
	{ run = 'ya pub extract --list "$@"', desc = "Extract here", for = "unix" },
]
play = [
	{ run = 'xdg-open "$1"',                desc = "Open", for = "linux" },
	{ run = '''mediainfo "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show media info", for = "unix" },
]

[plugin]
  prepend_preloaders = [
    { mime = "{audio,video}/*", run = "mediainfo"},
  ]
  prepend_previewers = [
    { mime = "{audio,video}/*", run = "mediainfo"},
  ]
  # There are more extensions which are supported by mediainfo.
  # Just add file's MIME type to `previewers`, `preloaders` above.
  # https://mediaarea.net/en/MediaInfo/Support/Formats
